__pycache__
crypto-disco-ecc-files
.idea
venv
.venv
.DS_Store
*.bin
*.app
*.zip
*.iso
default_files
output
output_*
test_output_*
test_reports
nuitka-crash-report.xml
*~
*.exe
src/New-ISOFile-Runner.ps1